/*@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }*/

body {
    background: linear-gradient(270deg, rgb(169, 250, 173) 0%, rgb(67, 169, 252) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}


h2 {
    text-align: center;
    font-size: 40px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
    float: left;
}

.container {
    font-family: 'Spartan', serif;
}

.choice-container {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    border: 1px solid blue;
    background-color: ivory;
    text-align: center;
    font-family: 'Spartan', serif;
    
}

.choice-container:hover {
    cursor: pointer;
    background-color: #2491b3;
    box-shadow: -3px -3px rgb(216, 243, 216);
    
}

.choice-prefix {
    background-color: #2491b3;
    color: rgb(252, 248, 248);
    padding: 1.5rem 2.5rem;
}

.choice-text {
    width: 100%;
}

/* HUD css */

#hud {
    display: flex;
    justify-content: left;
    position: fixed;
    top: 0;
    float: left;
    z-index: 100;
    background: radial-gradient(rgb(169, 250, 173), rgb(67, 169, 252));
    border-radius: 25%;
}

.hud-prefix {
    text-align: center;
    font-size: 20px;
}

#correct {
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 25rem;
    border: 2px blue;
    border-radius: 25%;
}

.btn {
    display: block;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border:2px solid #2491b3;
    margin-bottom: 1rem;
    background-color: rgb(248, 252, 248);
    border-radius: 100%;
    padding: 10px;
    
}

.btn:hover {
    cursor: pointer;
    background-color: #2491b3;
    box-shadow: -3px -3px rgb(216, 243, 216);
}

h1 {
    text-align: center;
    
}

footer {
    text-align: center;
}

#cA {
    display: none;
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    background-color: green;
    border: 2px white;
    box-shadow: 3px 3px 3px 3px white;

    
}

#iA {
    display: none;
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    background-color: red;
    border: 2px white;
    box-shadow: 3px 3px 3px 3px white;
    
}


