body {
    background: linear-gradient(270deg, rgb(169, 250, 173) 0%, rgb(67, 169, 252) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}


h2 {
    text-align: center;
    font-size: 40px;
}

.choice-container {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    border: 1px solid blue;
    background-color: ivory;
    text-align: center;
    
}

.choice-container:hover {
    cursor: pointer;
    background-color: #2491b3;
    
}

.choice-prefix {
    background-color: #2491b3;
    color: rgb(252, 248, 248);
    padding: 1.5rem 2.5rem;
}

.choice-text {
    width: 100%;
}

/* HUD css */

#hud {
    display: flex;
    justify-content: space-evenly;
}

.hud-prefix {
    text-align: center;
    font-size: 25px;
}

#correct {
    display: none;
}