/* font  font-family: 'Spartan', ; */


body {
    background: linear-gradient(270deg, rgb(169, 250, 173) 0%, rgb(67, 169, 252) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-family: 'Spartan', ;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex.center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* Buttons */

.btn {
    font-size: 16px;
    padding: 1rem 0;
    width: 15rem;
    text-align: center;
    border: 1px solid blue;
    margin-bottom: 1rem;
    background-color: rgb(248, 252, 248);
}

.btn:hover {
    cursor: pointer;
    background-color: #2491b3;
    box-shadow: rgb(216, 243, 216);
}

.btn[:disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    
}


/* Form */

form {
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;

}

input {
    margin-bottom: 1rem;
    width: 15rem;
    padding: 1rem;
    font-size: 20px;
}

footer {
    text-align: center;
}

#username {
    font-size: 0.7rem;
}

#highScoresList {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 2rem;
    
}
