/* font  font-family: 'Spartan', ; */


body {
    background: linear-gradient(270deg, rgb(169, 250, 173) 0%, rgb(67, 169, 252) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
    border: 10px linear-gradient(270deg, rgb(67, 169, 252)0%, rgb(169, 250, 173)100%);
    text-align: center;

}

#quiz {
    font-family: 'Spartan', ;

}

h1 {
    font-family: 'Spartan', ;
    font-size: 50px;
    
}

.buttons {
    margin-top: 200px;
   
}

#btn1, #btn2, #btn3, #btn4 {
    background-color: seashell;
    width: 200px;
    height: 30px;
    font-size: 18px;
    color: black;
    border: 1px solid blue;
   
    
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
    cursor: pointer;
    background-color: rgb(33, 37, 223);
}

#progress {
    font-family: 'Spartan',;
    font-size: 20px;
}

#correct {
    font-family: 'Spartan',;
    text-align: center;
    font-size: 20px;
    display: none;
}



