/* font  font-family: 'Spartan', ; */


body {
    background: linear-gradient(270deg, rgb(169, 250, 173) 0%, rgb(67, 169, 252) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-family: 'Spartan', ;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex.center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons */

.btn {
    font-size: 16px;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 1px solid blue;
    margin-bottom: 1rem;
    background-color: cornsilk;
}

.btn:hover {
    cursor: pointer;
    background-color: #2491b3;
    box-shadow: rgb(216, 243, 216);
}

.btn[:disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    
}